*, *::after, *::before {
    box-sizing: border-box;
  }

  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  .container {
    margin: 0 auto;
    margin-top: 25px;
    width: 1200px;
    color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    background-color: rgba(193, 196, 197, 0.74);
  }

  header {
    background-color:white;
    width: 1200px;
    height: 75px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
  }

  footer {
    background-color:grey;
    width: 1200px;
    height: 75px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
  }

  main {
      background-color:white;
      width: 960px;
      height: 400px;
      margin: auto;
      padding: 10px;
  }

#name {
    height: 75px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    left:205px;
    top: 25px;
    background-color: aqua;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
}

#contact {
    height: 75px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    right:205px;
    top: 25px;
    background-color: white;
    padding: 15px;
}

#portfolio {
    height: 75px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    right:305px;
    top: 25px;
    background-color: white;
    color:aqua;
    padding: 15px;
}

#about {
    height: 75px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    right:405px;
    top: 25px;
    background-color: white;
    color:aqua;
    padding: 15px;
}

img {
  float: left;
}

hr { 
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

h1 {
    font-size: 30px;
    height: 60px;
    width: 960px;
    border-bottom: 1px solid black;
    position: absolute;
    left:203px;
    top: 130px;
    background-color: white;
    color: aqua;
    padding: 15px;
    
  }

  p {
      
  }

  #form {
    position: absolute;
    top: 200px;
    left: 250px;
  }

  input[type=submit] {
    width: 150px;
    background-color:aqua;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


  #textbox{
    background-color: antiquewhite;

  }